<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dapp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4"> Try to run our 'Dapp'
          <small> </small>
        </h1>
  
       
         <!-- Project One -->
         <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="/images/4.jpg" style = "width: 700px; height: 400px;">
            </a>
          </div>
          <div class="col-md-5">
            <h3>"Sprite" purchase Dapp (기초)</h3>
            <p><br>Private Ethereum Network(ropsten)를 이용한 간단한 물건 구매 dapp </br> (참고) 메타마스크를 ropsten 서버로 연동해야 작동합니다.</p>
            
            <a href="http://54.180.123.74:3001">
              <button type="button" class="btn btn-primary">running dapp</button>
            </a>
            
            <a href="https://drive.google.com/open?id=1AHJfvm0wDaRn0YmtRBNf1PMeTaKrL7Id" download="purchase.zip">
            <button type="button" class="btn btn-outline-primary">code download</button>
          </a>
          </div>
        </div>
        <!-- /.row -->
  
        <hr>
  
        <!-- Project two -->
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="/images/2.jpg" style = "width: 700px; height: 400px;">
            </a>
          </div>
          <div class="col-md-5">
            <h3>"House" lease Dapp (심화)</h3>
            <p> <br>스마트 컨트랙트를 통해 dapp 전체를 알아볼수 있는 실습!!</br>(참고) 메타마스크를 ropsten 서버로 연동해야 작동합니다.  </p>
                <a href="http://54.180.123.74:3003">
                  <button type="button" class="btn btn-primary">running dapp</button>
                </a>
                <a href="https://drive.google.com/file/d/1rAoInr5dEYAvAKxRb939MnwVaLiwDRx-/view?usp=sharing"download="house.zip">
                <button type="button" class="btn btn-outline-primary">code download</button>
              </a>
           
          </div>
        </div>
        <!-- /.row -->
  
        <hr>
  
        <!-- Project Three -->
       
  
 
  
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
          
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          
         
          
  
      </div>
</body>
</html>